
body {background-image: 
    linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
    ;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;}

h1 {text-align: center;
    border-bottom: 2px solid gray;
    padding-bottom:20px;
    margin-bottom: 2px;}

#grid {display: grid;
    grid-template-columns: 1fr 2fr;}

ol {border-right:2px solid gray;
    margin-right:40px;
    padding-right:20px;}
  
  @media(max-width:700px){
    #grid{display:block;}
    ol{border-right:none;}}


p {display:flex;}

#button1 {color:aqua;
    background-color: black;
    border: 2px solid aqua;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;}


/* Path: index.html */